*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #111;
    color: #fff;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    & .logo{
        font-size: 1.7rem;
        font-weight: 500;
    }
    & ul{
        list-style: none;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-around;
        & li{
            cursor: pointer;
        }
    }
}

.hero-section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    font-size: 8rem;
}
.description{
    color: #ffffff9f;
}